# Python Basic Skill

In [1]:
# 1. Take values of the length & breadth of a rectangle from user input and check if it is square or not.

a = int(input('Enter the length '))
b = int(input('Enter the breadth '))

if a != b :
    print('The object is not square')
else:
    print('The object is square')

Enter the length 4
Enter the breadth 5
The object is not square

In [5]:
# 2. Take three integer values from the user and print the greatest among them.

a = int(input('Enter First Number '))
b = int(input('Enter Second Number '))
c = int(input('Enter Third Number '))

if a >= b and a >= c:
    x = a
elif b >= a and b >= c:
    x = b
else:
    x = c

print('The greatest number is: ', x)


# Python max() Function
# x = max(a , b, c)
# print('The greatest number is ', x)

Enter First Number 45
Enter Second Number 67
Enter Third Number 17
The greatest number is:  67

In [6]:
# 3. A student will not be allowed to sit in an exam if his/her attendance is less than 75%.

a = int(input('Enter attendance\'s percentage: '))
if a < 75:
    print('He/She will not allowed to sit an exam')
else:
    print('He/She can sit an exam')

Enter attendance's percentage: 55
He/She will not allowed to sit an exam

In [7]:
'''  4. A school has the following rules for the grading system:
Below 25 – F, 25 to 44 – E, 45 to 49 – D, 50 to 59 – C, 60 to 79 – B, 80 to 89 - A, Above 90 - A+
Now, Ask the user to enter marks and print the corresponding grade.  ''' 

a = int(input('Enter the mark: '))

if a < 25:
    print('The grade is: F')
elif a >= 25 and a <= 44:
     print('The grade is: E')
elif a >= 45 and a <= 49:
     print('The grade is: D')
elif a >= 50 and a <= 59:
     print('The grade is: C')
elif a >= 60 and a <= 79:
     print('The grade is: B')
elif a >= 80 and a <= 89:
     print('The grade is: A')
else:
    print('The Grade is: A+')

Enter the mark: 65
The grade is: B

In [8]:
'''
5. Print the following pattern using for and while loop.
1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4

'''


i = 8
while i > 4:
    for j in range(1, i):
        print(j, end=' ')
    print()
    i -= 1

1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4

In [9]:
'''  6. Display numbers from -100 to -10 using for loop. '''

for i in range(-100, -9):
    print(i, end=' ')

-100 -99 -98 -97 -96 -95 -94 -93 -92 -91 -90 -89 -88 -87 -86 -85 -84 -83 -82 -81 -80 -79 -78 -77 -76 -75 -74 -73 -72 -71 -70 -69 -68 -67 -66 -65 -64 -63 -62 -61 -60 -59 -58 -57 -56 -55 -54 -53 -52 -51 -50 -49 -48 -47 -46 -45 -44 -43 -42 -41 -40 -39 -38 -37 -36 -35 -34 -33 -32 -31 -30 -29 -28 -27 -26 -25 -24 -23 -22 -21 -20 -19 -18 -17 -16 -15 -14 -13 -12 -11 -10

In [10]:
''' 7. Write a program to sum all prime numbers within a range of 10 to 1000. '''

lower = 10
upper = 1000
sum = 0

for num in range(lower, upper + 1):

   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           sum += num
print(" Sum of the prime numbers between", lower, "and", upper, "are:", sum)

 Sum of the prime numbers between 10 and 1000 are: 76110

In [12]:
''' 8. Find the factorial of an n! (Hint, n=7: 7*6*5*4*3*2*1). '''


num = int(input("Enter a number: "))

factorial = 1

if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("The factorial of",num,"is:",factorial)

Enter a number: 9
The factorial of 9 is: 362880

In [13]:
''' 9. Reverse a given integer number 27956240710. '''

num = int(input('Enter a number: '))
reversed_num = 0

while num != 0:
    digit = num % 10
    reversed_num = reversed_num * 10 + digit
    num //= 10

print("Reversed Number: " + str(reversed_num))


# String Slicing method

# num = int(input('Enter a Number: '))
# print('Reversed Number: ' + str(num)[::-1])

Enter a number: 5673
Reversed Number: 3765

In [14]:
'''
10. Print the following pattern using for and while loop.
# # #
# # # #
# # #
# #
'''

i = 3
while i < 6:
    if i == 3:
        for j in range(1, i+1):
            print('#', end=' ')
        print()
    for j in range(i, 7):
        print('#', end=' ')
    print()
    i+=1

# # #
# # # #
# # #
# #

In [16]:
# 11. Display the Fibonacci series of 15 elements using the for and while loop.

def fibonacci(n):
    sequence = []
    if n == 1:
        sequence = [0]
    else:
        sequence = [0,1]
        count = 1
        while count + 1 < n:
            sequence.append(sequence[count-1] + sequence[count])
            count = count + 1
    return sequence

print(fibonacci(15))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

In [17]:
'''
12. Remove 2 and add 3 to the list and replace True with False.
Li = [1,3,5, [2,3], True]
Output = [1,3,5, [3,3], False]

'''
Li = [1,3,5, [2,3], True]
Li[3] = [3,3]
Li[4] = False

Li

[1, 3, 5, [3, 3], False]

In [18]:
'''
13. Find the intersection (common) of two sets.
S1 = {1,4,6,8}
S2 = {True, 1,2,10}

'''

S1 = {1,4,6,8}
S2 = {True, 1,2,10}

z = S1.intersection(S2)
z

{True}

In [19]:
'''
14. Input a list from the user then Remove duplicates from a list and create a set and find the max
number. User_input = [1,9,3,4,5,200,54]

'''
user_input = [2, 4, 10, 20, 5, 2, 20, 4]
print(list(set(user_input)))
print(max(set(user_input)))

[2, 4, 5, 10, 20]
20

In [20]:
'''
15. Rename the key of a dictionary.
Dict = { "name": "Shakil", "age":27, "city": “Berlin”, "country": "Germany" }
Write a program to rename a key ‘country’ to a ‘region’ in the following dictionary.

'''

Dict = { "name": "Shakil", "age":27, "city": 'Berlin', "country": "Germany" }
Dict['region'] = Dict['country']
del Dict['country']
Dict

{'name': 'Shakil', 'age': 27, 'city': 'Berlin', 'region': 'Germany'}

In [21]:
'''
16. Change the value of a key in a given dictionary.
Write a Python program to change ‘age’ to 28 in the following dictionary.
Dict = { "name": "Shakil", "age":27, "city": 'Berlin', "country": "Germany" }

'''

Dict = { "name": "Shakil", "age":27, "city": 'Berlin', "country": "Germany" }
Dict['age'] = 28
Dict

{'name': 'Shakil', 'age': 28, 'city': 'Berlin', 'country': 'Germany'}

In [22]:
'''
17. Creating a data frame using the list.
num = [10,100,300] (column name is number)

'''

import pandas as pd
num = [10,100,300]
df = pd.DataFrame(num, columns=['number'])
df

   number
0      10
1     100
2     300